# {{ ansible_managed }}
{{ site_domain }}{{ ', ' if (site_domains|length>0) else '' }}{{ site_domains|join(', ') }} {
    tls {{ site_email }} {
        on_demand
    }

    import config

    import webapps

    reverse_proxy {
        to {{ site_backends | join(' ') }}

        lb_policy first
        header_down -Server

        transport http {
            tls_insecure_skip_verify
        }
    }
}