# {{ ansible_managed }}
(config) {
	header Server "Sitepilot"
}

(webapps) {
    route /-/phpmyadmin* {
        uri strip_prefix /-/phpmyadmin
        reverse_proxy http://127.0.0.1:3001
    }
}

{{ hostname }} localhost {
	tls {{ cert_email }} {
        on_demand
    }

    import config

    import webapps

    route /-/metrics* {
        reverse_proxy http://127.0.0.1:9100
    }

	reverse_proxy {
        to https://127.0.0.1:6443
        header_down -Server

        transport http {
            tls_insecure_skip_verify
        }
    }
}

import /etc/caddy/vhosts/*.conf
